
/* تم عمل هذا الجزء من التصميم لحل مشكلة انه الفوتر ضل يتغير مكانه بسبب اختلاف المحتوي الي بيجي بالنص بين الهيدر والفوتر  عشان هيك كان لازم نثبته ونغير المحتوى الي بالنص بس  */
html, body {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* خلي المحتوى ياخد كل المساحة الباقية بين الهيدر والفوتر */
.main-content {
  flex: 1;
}